@model Mass_Data_Education.Models.TeacherClassSubject



@{
    var Title = "Add New Admin";
    ViewBag.Title = Title;
}

<div class="page-header">
    <div class="page-header-content">
        <div class="page-title" style="padding-top:10px; padding-bottom:15px">
            <h4><span class="text-semibold">@Title</span></h4>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
        </div>

    </div>

    <div class="breadcrumb-line breadcrumb-line-component">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="icon-home2 position-left"></i> Dashboard</a></li>
            <li><a href="@Url.Action("Index")">@Title</a></li>
            <li class="active">@Title</li>
        </ul>
    </div>
</div>


<div class="content">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">@Title</h5>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.InstituteID, "InstituteID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="ol-md-5">
                                @Html.DropDownList("InstituteID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.InstituteID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PersonID, "PersonID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="ol-md-5">
                                @Html.DropDownList("PersonID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PersonID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ClassSubjectID, "ClassSubjectID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="ol-md-5">
                                @Html.DropDownList("ClassSubjectID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ClassSubjectID, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="text-center col-md-12">
                            <div class="text-center col-md-6">
                                <button type="submit" class="btn btn-default btn-raised legitRipple">Save Data <i class="icon-make-group position-right"></i></button>
                            </div>

                            <div class="text-center col-md-6">
                                <button type="submit" class="btn btn-default btn-raised legitRipple">Go Back To List<i class="icon-make-group position-right"></i></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
