@model IEnumerable<Mass_Data_Education.Models.PaymantNames>

<script type="text/javascript" src="~/assets/js/plugins/tables/datatables/extensions/jszip/jszip.min.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
<script type="text/javascript" src="~/assets/js/pages/datatables_extension_buttons_html5.js"></script>
@{
    var Title = "Blood Group";
    ViewBag.Title = Title;
}

<div class="page-header">
    <div class="page-header-content">
        <div class="page-title" style="padding-top:10px; padding-bottom:15px">
            <h4><span class="text-semibold">@Title</span></h4>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-component">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="icon-home2 position-left"></i> Dashboard</a></li>
            <li class="active">@Title</li>
        </ul>
    </div>
</div>

<div class="content">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">@Title List</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a href="@Url.Action("Create")" class="btn btn-default btn-raised legitRipple">Add New <i class="icon-make-group position-right"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div style="overflow:auto">
                    <table class="table datatable-button-html5-basic">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>

                                <th style="min-width:108px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>

                                    <td>
                                        <a href="@Url.Action("Edit", new { id = item.Id })" title="Update" class="text-teal-400"><i class="icon-pencil7"></i></a> &nbsp;
                                        <a href="@Url.Action("Details", new { id = item.Id })" title="Details" class="text-green-400"><i class="icon-file-empty"></i></a> &nbsp;
                                        <a href="@Url.Action("Delete", new { id = item.Id })" title="Delete" class="text-warning-400"><i class="icon-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
