@model Mass_Data_Education.Models.ViewModel.ClassSubjectVM
@{
    var Title = "Subject Details";
    ViewBag.Title = Title;
}
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title" style="padding-top:10px; padding-bottom:15px">
            <h4><span class="text-semibold">@Title</span></h4>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-component">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="icon-home2 position-left"></i> Dashboard</a></li>
            <li><a href="@Url.Action("Index")">Classes</a></li>
            <li class="active">@Title</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="col-md-12 form-horizontal">
                <h5>Subject</h5>
                <div class="col-md-6">
                    <div style="overflow:auto">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><b>Class</b></td>
                                    <td>@Html.DisplayFor(model => model.ClassName)</td>
                                </tr>
                                <tr>
                                    <td><b>Subject</b></td>
                                    <td>@Html.DisplayFor(model => model.SubjectNames)</td>
                                </tr>
                                <tr>
                                    <td><b>Books</b></td>
                                    <td><span style="white-space: pre-wrap">@Html.DisplayFor(model => model.Books)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
